<mat-toolbar color="primary">
    <span class=".mat-headline">
        <a mat-flat-button color="primary" routerLink="/homepage">
            <h1 class=".mat-display-4">ITCPC</h1>
        </a>
    </span>
    <button mat-flat-button color="primary" *ngIf="authService.isUserLoggedIn()"
        routerLink="/dashboard">Dashboard</button>
    <span fxFlex></span>
    <span fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <a mat-flat-button color="primary" *ngIf="!authService.isUserLoggedIn()" routerLink="/login"
            routerLinkActive="active">Login</a>
        <button mat-flat-button color="primary" *ngIf="authService.isUserLoggedIn() && authService.isAdmin"
            [matMenuTriggerFor]="menu">Users</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/users">List</button>
            <button mat-menu-item routerLink="/users/add">Add</button>
        </mat-menu> <!-- widoczne tylko dla admina! jak zrobic? -->

        <a mat-flat-button color="primary" *ngIf="authService.isUserLoggedIn()" routerLink="/logout"
            routerLinkActive="active">Logout</a>

    </span>
</mat-toolbar>